.offers {
  background-color: $main-color;
  padding: 80px 0 50px;
  &__heading {
    @include flex-list;
    margin-bottom: 20px;
    h3 {
      @include roboto-bold;
      font-size: 24px;
    }
    img {
      padding-right: 50px;
    }
  }
  &__cards {
    @include flex-list;
    gap: 20px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 255px;
  background-color: $bg-color;
  padding: 25px 0;
  img {
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 20px;
    padding: 0 30px;
  }
  span {
    margin-bottom: 20px;
    @include roboto-bold;
    font-size: 21px;
    letter-spacing: 1px;
  }
  button {
    background-color: $secondary-color;
    color: $bg-color;
    font-size: 14px;
    border-radius: 30px;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
  }
}
